.playlist {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
   
  }
  .playlist > .image >img {
      height: 15rem;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #e0dede;
  }
  .details > .title {
    color: white;
    font-size: 2rem;
    margin: 0;
  }
  .list > .header-row {
    display: grid;
    grid-template-columns: 0.3fr 3fr 2fr 0.3fr;
    margin: 1rem 0 0 0;
    color: #dddcdc;
    top: 15vh;
    padding: 1rem 3rem;
    transition: 0.3s ease-in-out;
    background-color: #000000dc;
  }
  .list > .tracks {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .list > .tracks > .row {
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 0.3fr 3.1fr 2.1fr 0.3fr;
  }
  .list > .tracks > .row >.detail {
    display: flex;
    gap: 1rem;
  }
  .list > .tracks > .row >.detail > .info {
    display: flex;
    flex-direction: column;
  }
  .list > .tracks > .row:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .list > .tracks > .row > .col {
    display: flex;
    align-items: center;
    color: #dddcdc;
  }
  .list > .tracks > .row > .col > img {
    height: 40px;
    width: 40px;
  }
  .trackImage > img{
    height: 40px;
    width: 40px;
  }